.history-page{
    width:90%;
    margin:40px auto;
}

.history-page h1{
    margin-bottom:30px;
}

.history-card{
    background:white;
    padding:25px;
    border-radius:12px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.history-card h2{
    color:#2563eb;
    margin-bottom:15px;
}

.history-card p{
    margin:8px 0;
}

.history-card span{
    display:inline-block;
    margin-top:15px;
    background:#16a34a;
    color:white;
    padding:8px 18px;
    border-radius:20px;
}