.scanner-container{

    width:90%;
    margin:auto;
    padding:35px;
    text-align:center;

}

.scanner-container h1{

    margin-bottom:30px;

}

#reader{

    max-width:500px;
    margin:auto;

}